<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
</head>
<body onload="ocultarWheel()">
    <!---CREATE CAR-->
    <div class="container" id="carBox">
        <div class="row text-center">
            <h1 class="my-5">Create a Car</h1>
            <div class="col-4 font-monospace">
                <label><b>Plate</b></label>
                <input id="plate" class="form-control" type="text">
            </div>
            <div class="col-4 font-monospace">
                <label><b>Brand</b></label>
                <input id="brand" class="form-control" type="text">
            </div>
            <div class="col-4 font-monospace">
                <label><b>Color</b></label>
                <input id="color" class="form-control" type="text">
            </div>
        </div>  
    <button class="btn btn-primary my-2" onclick="createCar()"><b>Create car</b></button>
</div>
<hr>
<!--AGREGAR RUEDAS-->
<div class="container" id="ocultar">
    <div class="row text-center">
        <h1 class="my-5">Add Wheels information</h1>
        <div class="col-3 font-monospace">
            <label><b>Brand Wheel 1</b></label>
            <input id="brand1" class="form-control" type="text">
            <label><b>Diameter Wheel 1 </b></label>
            <input id="diametro1" class="form-control" type="number" name="diametros">
        </div>
        <div class="col-3 font-monospace">
            <label><b>Brand Wheel 2</b></label>
            <input id="brand2" class="form-control" type="text">
            <label><b>Diameter Wheel 2 </b></label>
            <input id="diametro2" class="form-control" type="number" name="diametros">
        </div>
        <div class="col-3 font-monospace">
            <label><b>Brand Wheel 3</b></label>
            <input id="brand3" class="form-control" type="text">
            <label><b>Diameter Wheel 3 </b></label>
            <input id="diametro3" class="form-control" type="number" name="diametros">
        </div>
        <div class="col-3 font-monospace">
            <label><b>Brand Wheel 4</b></label>
            <input id="brand4" class="form-control" type="text">
            <label><b>Diameter Wheel 4 </b></label>
            <input id="diametro4" class="form-control" type="number" name="diametros">
        </div>
    </div>  
<button class="btn btn-primary my-2" onclick="addWheel()"><b>Add Wheels</b></button>
<p id="carInfo" class="h3 my-2"></p>
<p id="wheelInfo"class="h3 my-2"></p>
</div>
<script src="../models/car.js"></script>
<script src="../models/wheel.js"></script>
<script src="../controllers/controller.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>



